.tweet-container {
  margin-top: 10px;
  margin-left: 10px;
}

.tweet-header {
  color: #14171a;

  .time {
    white-space: nowrap;
  }
}

.time {
  color: #657786;
}

.time:before {
  content: "\00b7";
  margin: 5px;
}

.tweet-content {
  margin: 0;
  p {
    white-space: pre-wrap;
  }
}

