<div *ngFor="let tweet of tweets" class="tweet-container">
  <div class="tweet-header">
    <strong>{{ tweet.user }}</strong>
    <small class="time">{{ tweet.created_at | timeAgo }}</small>
  </div>
  <div class="tweet-content">
    {{ tweet.text }}
  </div>
  <div class="favorite">
    <i class="far fa-heart"></i>
    <span *ngIf="tweet.favoriteCount">{{ tweet.favoriteCount }}</span>
  </div>
</div>

<div class="create-tweet-container">
  <div class="tweet-content">
    <textarea cols="50" rows="5" #tweetContent></textarea>
  </div>
  <div class="footer">
    <button class="send-tweet-button" (click)="addTweet(tweetContent.value)">Tweeter</button>
  </div>
</div>
